.WordSection1 p, h1, h2, h3, h4, h5{
	margin-bottom:1px;
	margin-top: 1px;
}

.Handwritting p, .Handwritting h1, .Handwritting h2, .Handwritting h3, .Handwritting h4, .Handwritting h5{
	font-family: Bradley Hand, cursive;

}

.Simple p, .Simple h1, .Simple h2, .Simple h3, .Simple h4, .Simple h5{
	font-family: Helvetica Neue, san serif;
}

.Coding p, .Coding h1, .Coding h2, .Coding h3, .Coding h4, .Coding h5{
	font-family: Consolas;
}
