h2{
  border-top: 0px solid white;
  border-top: 0px solid white;
}
:not(h2)+h2,h2:first-child{
  
  margin: 3px 0px; 
  border-top: 2px solid white;
}
h2+:not(h2), h2:last-child{
  
  margin: 3px 0px; 
  border-bottom: 2px solid white;
}
