:root {
  --primary: rgb(206,184,136);

}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.describe{
	line-height: 1.2;
	font-size: 20px;
	vertical-align: middle;
	
}
.header{
	text-align:center; 
	font-family: Impact;
	font-size: 50px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
	letter-spacing: 2px; 
	color: var(--primary);
	background-color: #000;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.textheader{
	font-weight: 1000;
	font-size: 30px;
}

.containerhead{

	border-color: rgb(0,0,0);
   	background-color:white;
	border-style: solid;
	border-width: 10px;
	border-radius: 20px 20px 20px 20px;
	text-align: center;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;



}
.container {

	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(0,0,0);
	border-radius: 20px 20px 20px 20px;

	float: left;
    	width: 100%;
	margin-bottom: 15px;
}

.containercontent {

	border-color: var(--primary);
	border-style: solid;
	border-width: 10px;
	background-color:var(--primary);
	border-radius: 10px 10px 10px 10px;
	margin: 10px;
    padding-top: 10px;
    padding-bottum: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.content{
	padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:white;
	overflow: hidden;
	margin: 25px,25px,25px,25px;

}

.right-div {

	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(0,0,0);
	border-radius: 20px 20px 20px 20px;

	float: left;
    width: -webkit-calc(40% - 17px);
    width:    -moz-calc(40% - 17px);
    width:         calc(40% - 17px);
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.left-div {

	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(0,0,0);
	border-radius: 20px 20px 20px 20px;


	float: left;
    width: -webkit-calc(60% - 17px);
    width:    -moz-calc(60% - 17px);
    width:         calc(60% - 17px);
	margin-left: 15px;
		margin-top: 15px;
	margin-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  .fullouter > div {
    width: 100%;

	margin-right: 0px;
	margin-left: 0px;
  }
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}


#navbar a.active {
  background-color: var(--primary);
  color: white;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.footer{
	line-height: 1;
	font-size: 15px;
	padding: 1px 1px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
	
  display: none;
  position: absolute;
  background-color: inherit;

  color: black;
  text-align: left;
  z-index: 100;
}


.dropdown-content a:hover {
  background-color: #f;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
}

.dropdown-content a {
  float: none;

  padding: 12px 16px;
  width: 150px;
  text-decoration: none;
  display: block;

}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


input[type=text] {

  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


button {
    float: none;

    text-align: left;
    width: 20px
    margin: 0;
    padding: 14px;
  }
button.print-button {
  width: 40px;
  height: 40px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 2px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}

.font{
	display:inline-block;
	vertical-align: middle;
	padding-left:10px;
	padding-right: 10px;
	background-color: white;
	text-align: center;
	border-radius: 100px;

}

input[type=range] {
  width: 200px;
  vertical-align: middle;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #c8c8c8;
  border: 10px solid var(--primary);
  border-radius: 25px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 9px solid #dcdcdc;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e7e7e7;
}
input[type=range]::-moz-range-track {
  background: #c8c8c8;
  border: 10px solid var(--primary);
  border-radius: 25px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 9px solid #dcdcdc;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #a9a9a9;
  border: 10px solid var(--primary);
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #c8c8c8;
  border: 10px solid var(--primary);
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 9px solid #dcdcdc;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #c8c8c8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e7e7e7;
}


